@page "/serverside"

@inject WeatherForecastService ForecastService

<h1>Server side example</h1>
<span>Sorting, paging and filtering are all being done on the server</span>

<DataTable TModel="WeatherForecast" Items="pagedForecasts.Data" UsePaging="true" FetchData="DoFetchData" PageCount="@pagedForecasts.Paging.PageCount" PageSize="@pagedForecasts.Paging.PageSize">
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.Date"/>
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.TemperatureC" CustomTitle="Celsius"   />
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.TemperatureF" CustomTitle="Fahrenheit"/>
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.MyNullableInt"/>
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.Summary"/>
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.Country"/>
    <DataTableColumn TModel="WeatherForecast" IsSortable="true" IsFilterable="true" Property="(e) => e.UpdatedRecently" CustomTitle="Recently updated"/>
</DataTable>

@code {
    private bool firstFetch = true;
    private Sve.Blazor.Core.Models.PagedResult<WeatherForecast> pagedForecasts = new Core.Models.PagedResult<WeatherForecast>(new List<WeatherForecast>(), pageNr: 1, pageSize: 10, 0);

    private async Task DoFetchData(RequestArgs<WeatherForecast> args)
    {
        if (firstFetch)
        {
            pagedForecasts = await ForecastService.SearchForecastAsync(null, 1000);
            firstFetch = false;
        }
        else pagedForecasts = await ForecastService.SearchForecastAsync(args, 1000);
        StateHasChanged();
    }
}
